spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:anacarla}
    username: ${DB_USER:anacarla}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    show-sql: false
  
  flyway:
    enabled: true

logging:
  level:
    br.com.anacarla: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

